--swiftversion 5.9
--indent 4
--wraparguments before-first
--wrapcollections before-first
--maxwidth 120
--disable redundantSelf
--disable blankLinesAtStartOfScope
--disable blankLinesAtEndOfScope
--exclude .build
